<h1>Merseri saves a myNote</h1>

<p> For a parser feature leave a title field empty and paste your formatted input to a content field
<%= render 'form' %>

  
<%= link_to 'Home', root_path %>
| <%= link_to 'Show myNotes', mers_path %>