<% provide(:title, 'Idea') %>
<div class="container">
  <h1>Note:</h1>

  <%= render 'show_mer' %>	

	<h3><%= pluralize(@mer.comments.count, "comment") %></h3>
	<%= render 'comments/show_comment' %>
	<%= render 'comments/comment_form' %>
</div>

