<% provide(:title, @user.name) %>
<div class="container">
<h1>My information</h1>
	<ul class="users">
		<li>
		  <%= @user.name %>
		  <% if @user.admin %>
		    <%=  " is an admin " %>
				<% else %>
				<%= " is an user " %>
		  <% end %>
			<br  />
			<br  />
			<%= button_to "delete me", @user, method: :delete,
		                                  data: { confirm: "Are you sure? This delete "+@user.name+" and "+@user.name+"'s all data forever and can't be undone!" }, class: "btn-danger" %>
		</li>
	</ul>

</div>


