<% provide(:title, 'About') %>
<div class="container">
<h1>About</h1>
  All work here is still under development. All data, private or public, can be destroyed without a further notice. If you like to support development please follow the link below.
	<br  /> 
	<br  />
	<%= link_to "Donation", 'https://www.merseri.com/arinblog/', method: :get, target: "_blank" %>
</div>