<% provide(:title, 'Contact') %>
<div class="container">
<h1>Contact</h1>
<p id="demo">
	Please send all your comments to Ari
</p>
<button type="button" onclick="myFunction()">Click Me!</button>

</div>