<% provide(:title, 'Help') %>
<h1>Help</h1>
<p>
  <h2>Features</h2>
  <ul>
	<li>search</li>
	<li>new</li>
	<li>show all</li>
	<li>show tagged</li>
	<li>add to collection</li>
	<li>print collection</li>
  </ul>
</p>