<% provide(:title, 'Welcome') %>

<% if !current_user.nil? %>

  <h1>Search ideas</h1>
  <div class="row">
    <div class="span6 offset1">
  	   <%= render 'mers/search' %>

      <div id="tag_cloud">
        <%= render 'mers/tagCloud' %>
      </div>
    </div>
  </div>
  <% elsif %> 
  <div class="row">
    <div class="span6 offset1">
  	  <%= link_to "Sign in please", signin_path %>
	<% end %>
  </div>
 </div>