<div class="container">
  <h1>Welcome to INVENTORY</h1>
  <br  />
	<ul>
		<li>household items</li>
		<li>household maintenance</li>
		<li>insurances</li>
		<li>car service</li>
		<li>sw licences nos</li>
		<li>reminders</li>
		<li>electronics serie nos</li>
		<li>art</li>
		<li>instruments</li>
	</ul>
 <br  />
 <%= link_to "back to welcome", welcome_path, class: "btn btn-lg btn-success" %>
 <br  />
 <br  />
 <%= link_to "back to welcome", welcome_path, class: "btn btn-lg btn-primary" %>
 <br  />
</div>