<div class="container">
  <h1>Welcome to NOTES</h1>
  <br  />
	<%= link_to "New note", new_mer_path, class: "btn btn-lg btn-success" %>
	<br  />
	<br  />
	<%= link_to "back to welcome", welcome_path, class: "btn btn-lg btn-primary" %>
</div>