<div class="container">
  <h1>Welcome to TIMELINE</h1>
  <br  />
	<div class="row">
    <div class="col-md-6">
			<div id='calendar'></div>
		</div>	
	</div>
	<ul>
		<li>long term planning</li>
		<li>important days</li>
		<li>dreams, lifelong intentions</li>
		<li>timeline</li>
		<li>follow up</li>
		<li>reminders</li>
		<li>planned and executed activities</li>
	</ul>
	<br  />
  <br  />
  <br  />
  <%= link_to "back to welcome", welcome_path, class: "btn btn-lg btn-primary" %>
  <br  />

</div>