<div class="container">
  <h1>Welcome to TIME</h1>
  <br  />
	<%= link_to "new activity", new_activity_path, class: "btn btn-large btn-primary" %><br  />
	<br  />
	<%= link_to "Show activities", activities_path, class: "btn btn-large btn-primary" %><br  />
	<br  />
  <%= link_to "back to welcome", welcome_path, class: "btn btn-large btn-primary" %>
  <br  />
</div>

