<% provide(:title, 'Welcome') %>
<div class="container">
	<br  />
	<div class="row">
    <div class="col-md-2">
			<%= button_to "ACTION", action_path, method: :get, class: "btn btn-primary btn-custom" %>
		</div>
		<div class="col-md-2">
			<%= button_to "NOTES", notes_path, method: :get, class: "btn btn-success btn-custom" %>
		</div>
	</div>
	<div class="row">
    <div class="col-md-2">
			<%= button_to "REMINDER", reminder_path, method: :get, class: "btn btn-warning btn-custom" %>
		</div>
		<div class="col-md-2">
			<%= button_to "INVENTORY", inventory_path, method: :get, class: "btn btn-danger btn-custom" %>
	  </div>
	</div>
</div>