<% provide(:title, 'Selected') %>

<h1>Printing#printSelected</h1>
<h3>To be selected for collection</h3>
<p>
  <strong>Idea:</strong>
  <br />
  <%= @mer.title %>
</p>
 
<p>
  <strong>Notes:</strong>
  <br />
  <%= @mer.text %>
</p>