<h1>Printing#printSelected</h1>
<h3>To be selected for collection</h3>
<p>
  <strong>Note:</strong>
  <br />
  <%= @mer.title %>
</p>
 
<p>
  <strong>Future explanation:</strong>
  <br />
  <%= @mer.text %>
</p>