<% provide(:title, 'Selected') %>

<h1>Printing#printSelected</h1>
<h3>To be selected for collection</h3>
<strong>Idea:</strong>
<br />
<p>
  <%= @mer.title %>
</p>
<strong>Notes:</strong>
<br />
<p>
  <%= @mer.text %>
</p>