<h1>Printing#printCollection</h1>
<h3>This is a print of idea id 2</h3>

  <hr  />
  <strong>Idea:</strong>
  <br />
    <%= @mer.title %>
  <br />
  <strong>Notes:</strong>
  <br />
    <%= @mer.text %>

  <hr  />