<h1>Printing#printCollection</h1>
<h3>This is a print of note id 2</h3>

  <hr  />
  <strong>Note:</strong>
  <br />
    <%= @mer.title %>
  <br />
  <strong>Further explanation:</strong>
  <br />
    <%= @mer.text %>

  <hr  />