<div class="container">
	<br  />
	<% @on_actings.each do |o| %>	
	  <h3><%= Activity.find(o.activity_id).name %> started at <%= o.start %></h3>
		<br  />
	  <%= link_to "Stop", acting_path(o), method: :patch, class: "btn btn-lg btn-danger" %>
	<% end %>
</div>