<% provide(:title, 'Item') %>
<div class="container">
  <h1>Inventory item:</h1>
  <%= render 'show_item' %>	


<%= link_to "Search item", search_items_path, class: "btn btn-lg btn-success" %> |
<%= link_to "Inventory", inventory_page_path, class: "btn btn-lg btn-success" %>
</div>