<div class="container">
  <h1>Welcome to TIMELINE</h1>
  <br  />
	<div class="row">
    <div class="col-md-6">
			<div id='calendar'></div>
			 <div id="dialog" title="New event">

			 </div>	
		</div>	
	</div>
</div>