<div class="container">
  <h1>Welcome to TIMELINE</h1>
  <br  />
	<div class="row">
    <div class="col-md-6">
			<div id='calendar'></div>
		</div>	
	</div>
	<br  />
  <br  />
  <br  />
  <%= link_to "back to welcome", welcome_path, class: "btn btn-lg btn-primary" %>
  <br  />

</div>