// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// navigation_links items
.navitem {
  text-transform: uppercase;
  }
	
// Button size customized
.btn-custom
{
  width: 150px;
  height: 150px;
  text-align: center;
  padding: 6px 0;
  font-size: 24px;
  line-height: 1.42;
  border-radius: 75px;
	margin-bottom: 10px;

}