<div class="container">	
	
  <h1>Select activity</h1>
	<br  />
	<div class="row"> 
		<% @my_activities.each do |m| %> 
		<div class="col-md-4">
			<%= link_to new_acting_path(activity_id: m.id), class: "btn btn-lg btn-warning btn-block" do %>
			  <%= m.name %>
			  <% m.actings.all.each do |a| %>
			    <% if a.start == a.stop %>
			      ongoing...
			    <% end %>
		  	<% end %>
			<% end %>
		  <br  />
		</div>
	  <% end %>
	</div>
	<br  />
	<div class="row">  
		<div class="col-md-12">
			<%= link_to "History", history_path, class: "btn btn-lg btn-success" %>
		</div>
	</div>		
</div>

