<div class="container">
  <br  />
  <% @activities.each do |activity| %>
	<% @user = User.find(activity.user_id) %>
  <div class="panel panel-primary">
	  <div class="panel-heading">Created by <%= @user.name %></div>
     <div class="panel-body panel-primary">
       <div class="well">
		     <%= activity.name %>
		   </div>
     <div class="panel-footer">
	     <%= link_to 'Edit', edit_activity_path(activity) %>
		 	 | <%= link_to 'Destroy', activity, method: :delete, data: { confirm: 'Are you sure?' } %>  
     </div>
    </div>
  </div>
	<% end %>
</div>
