<%# navigation links %>
<ul class="nav navbar-nav">
<% if signed_in? %> 
<li class="navitem <%= 'active' if current_page?(timeline_page_path) %>">
	<%= link_to timeline_page_path do %>
	 <span class="glyphicon glyphicon-pencil"></span>Calendar
  <% end %>
</li>
	
<%= render 'layouts/dropdown' %>

<% end %>
</ul>